{% extends 'flowers/layout.html' %}
{% block title %}Корзина{% endblock %}
{% block content %}

<div class="container mt-5">
    <h1>Оформление заказа</h1>
           <table class="table table-bordered">
            <thead class="thead-light">
                <tr>
                    <th>Название товара</th>
                    <th>Количество</th>
                    <th>Цена</th>
                    <th>Сумма</th>
                    <th>Действия</th>
                </tr>
            </thead>
            <tbody>
                {% for item in cart.cartitem_set.all %}
                    <tr>
                        <td>{{ item.flowers.title }}</td>
                        <td>
                            <div class="d-flex align-items-center">

                                {{ item.quantity }}

                            </div>
                        </td>
                        <td>{{ item.flowers.price }} ₽</td>
                        <td>{{ item.total_price }} ₽</td>
                        <td>
                            <input type="hidden" name="cart_item_id_{{ item.id }}" value="{{ item.id }}">
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
                <tfoot>
                <tr>
                    <td colspan="3" class="text-right"><strong>Итого:</strong></td>
                    <td><strong>{{ cart.total_price }} ₽</strong></td>
                    <td></td>
                </tr>
            </tfoot>
        </table>
    <h2>Внесите необходимые данные:</h2>
    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="customer_name">Ваше имя</label>
            {{ form.customer_name }}
            {{ form.customer_name.errors }}
        </div>
        <div class="form-group">
            <label for="phone">Ваш телефон</label>
            {{ form.phone }}
            {{ form.phone.errors }}
        </div>
        <div class="form-group">
            <label for="email">Ваш E-mail</label>
            {{ form.email }}
            {{ form.email.errors }}
        </div>
        <div class="form-group">
            <label for="address">Ваш адрес доставки</label>
            {{ form.address }}
            {{ form.address.errors }}
        </div>
        <button type="submit" class="btn btn-primary">Отправить</button>
    </form>
    <div class="mt-4">
        {% if user.is_authenticated %}
        {% else %}
            <p class="text-center">Для удобства управления заказами лучше авторизоваться. Сейчас вы не авторизованы , при оформении заказа будет создан новый аккаунт</p>
        {% endif %}
</div>
{% endblock %}