{% extends 'flowers/layout.html' %}
{% block title %}Доставка цветов о нас {% endblock %}
{% block content %}

<div class="container mt-5">
    <h1 class="text-center mb-4">О нас</h1>

    <div class="row">
        <div class="col-md-12">
            <p>Наша компания была основана с одной целью — дарить радость и красоту через цветы. Мы понимаем, насколько важны моменты в жизни, и именно поэтому стремимся сделать каждый букет уникальным и особенным. Мы работаем только с качественными цветами, чтобы обеспечить безупречный вид наших композиций и удовлетворение клиентов.</p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <p>Наша команда состоит из профессионалов с многолетним опытом в флористике. Мы следим за последними тенденциями и регулярно обновляем наш ассортимент, чтобы предложить вам самые актуальные и стильные решения. Каждое наше творение — это не просто букет, а настоящая работа искусства, созданная с душой.</p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <p>Мы гордимся своим сервисом и вниманием к деталям. Наша команда всегда готова помочь вам выбрать идеальный букет для любого события — будь то день рождения, свадьба или просто приятный сюрприз для близкого человека. Мы уверены, что цветы могут передать самые искренние чувства и эмоции.</p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <p>Спасибо, что выбираете нас! Мы стремимся к тому, чтобы ваш опыт покупки был максимально приятным и удобным. Если у вас есть вопросы или предложения, не стесняйтесь обращаться к нашей службе поддержки — мы всегда готовы помочь!</p>
        </div>
    </div>
</div>


{% endblock %}