{% extends 'flowers/layout.html' %}
{% block title %}Доставка  и оплата {% endblock %}
{% block content %}

<div class="container mt-5">
    <h1 class="text-center mb-4">Доставка и оплата</h1>

    <div class="row">
        <div class="col-md-6">
            <h2>Доставка</h2>
            <p>Мы предлагаем быструю и надежную доставку букетов по всей территории города. Все заказы обрабатываются в течение 24 часов, и мы гарантируем, что ваш букет будет доставлен в идеальном состоянии. Вы можете выбрать удобное время доставки, а также указать адрес и имя получателя.</p>
        </div>

        <div class="col-md-6">
            <h2>Оплата</h2>
            <p>У нас вы можете выбрать удобный способ оплаты: наличными курьеру, банковской картой или через электронные платежные системы. Все транзакции защищены и осуществляются через безопасные каналы, что гарантирует полную конфиденциальность ваших данных.</p>
        </div>
    </div>

    <div class="mt-4">
        <h2>Дополнительная информация</h2>
        <p>Если у вас возникли вопросы по доставке или оплате, наша служба поддержки всегда готова помочь. Вы можете связаться с нами по телефону или через электронную почту. Мы ценим каждого клиента и стремимся сделать вашу покупку максимально комфортной!</p>
    </div>
</div>
</div>
{% endblock %}