{% extends 'flowers/layout.html' %}
{% block title %}Доставка цветов главная{% endblock %}
{% block content %}



<div class="container mt-5">
    <div class="jumbotron text-center">
        <h1 class="display-4">Добро пожаловать в наш интернет-магазин!</h1>
        <p class="lead">Каждый букет — это не просто сочетание цветов, а настоящая история, полная эмоций и чувств.</p>
    </div>

    <div class="row">
        <div class="col-md-6">
            <h2>Наши Букеты</h2>
            <p>Мы предлагаем широкий ассортимент свежих и стильных букетов на любой случай: от романтических композиций для любимых до ярких цветочных подарков для друзей и родных. Наша команда флористов с любовью создает каждую композицию, учитывая все ваши пожелания и предпочтения.</p>
        </div>
        <div class="col-md-6">
            <h2>Доставка</h2>
            <p>Мы понимаем, как важно доставить букет в идеальном состоянии и в нужный момент. Поэтому мы предлагаем услуги быстрой и надежной доставки по всему городу. Каждый заказ обрабатывается с максимальной внимательностью, и мы гарантируем, что ваши цветы будут свежими и яркими, когда они достигнут адресата. Просто выберите понравившийся букет, укажите адрес и время доставки — мы позаботимся обо всем остальном!</p>
        </div>
    </div>

    <div class="mt-4">
        <h2>Полезная Информация</h2>
        <p>Кроме того, на нашем сайте вы найдете множество полезных советов по уходу за цветами, чтобы ваши букеты радовали вас как можно дольше. Мы также регулярно обновляем ассортимент, добавляя новые оригинальные композиции и сезонные предложения. Присоединяйтесь к нашей цветочной семье и делитесь радостью с близкими, даря им красивые букеты от нашего магазина!</p>
    </div>
</div>

</div>
{% endblock %}