{% if user.is_authenticated %}
  <div class="col-md-1">
        </div>
<div class="col-md-2 col-lg-1 bg-light sidebar">
    <h6 class="text-center">Мои действия</h6>
    <ul class="nav flex-column">
        <li class="nav-item">
            <a class="nav-link" href="{% url 'profile' %}">Профиль</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'orders' %}">Заказы</a>
        </li>
         <li class="nav-item">
            <br>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'logout' %}">Выход</a>
        </li>
    </ul>
</div>
{% endif %}