{% extends 'flowers/layout.html' %}
{% block title %}Доставка цветов вход в профиль{% endblock %}
{% block content %}
<div class="user-profile">
  <h2>Регистрация</h2>
   <form method="post" class="container mt-4">
       {% csrf_token %}
   <div class="form-group">
        <label for="{{ form.username.id_for_label }}">Имя пользователя</label>
        {{ form.username}}
    </div>
    <div class="form-group">
        <label for="{{ form.password1.id_for_label }}">Пароль</label>
        {{ form.password1 }}
    </div>
    <div class="form-group">
        <label for="{{ form.password2.id_for_label }}">Подтвердите пароль</label>
        {{ form.password2 }}
    </div>
    <div class="form-group">
        <label for="{{ form.email.id_for_label }}">E-mail</label>
        {{ form.email }}
    </div>

    <button type="submit" class="btn btn-primary">Зарегистрироваться</button>
   </form>
    <p>{{error}}</p>
{% endblock %}